.DS_Store
.pio
.vscode
.cache
.cproject
.project
.settings
build
managed_components
local_components
dependencies.lock
.old
version.txt
sdkconfig
sdkconfi*.old
sdkconfig.defaults
sdkconfig.esp32*
*.bin
*.elf
*.map
*.log
.ccls-cache
*.c
